<style>
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=JetBrains+Mono:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
        *{
            margin: 0;
            padding: 0;
        }
        header{
            /* margin: auto;*/
        }
        .nav{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            /* border: 2px solid black; */
          

        }
        nav{
            
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        ul{
            margin-left: 330px;
            list-style: none;
            display: flex;
            column-gap: 40px;
            
        }
        ul li{
            align-self: center;
            
        }
        ul li a
        {   
            font-family: "Poppins", serif;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            color: black;
        }
        ul li a:hover{
            /* background-color: red; */
            color: grey;
        }
        .img-2
        {
            align-self: center;
            margin-left:40px ;
        }
        .img-3{
            
        }
        .img1
        {
            margin-left: 100px;
        }
        .content{
            display: flex;
            /* border: 2px solid red; */
            align-items: center;
            justify-content: center;
            margin: 40px 0px;
        }

        .heading1 {
            font-family: "Poppins", serif;
            font-size: 60px;
            font-weight: 300;
        }
        .content h1{
            font-size: 60px;
            font-family: "Poppins", serif;
            font-weight: 500;
        }
        .text{
                /* border: 2px solid red; */
                width: 60vw;
                display: flex;
                margin: auto;
                text-align: center;
                flex-direction: column;
            }
            .text p{
                
                font-family: "Poppins", serif;
                font-size: 25px;
                font-weight: 300;
        }
        .text button{
            margin: 20px;
            width: 20vw;
            align-self: center;
            padding: 10px;
            border-radius: 5px;
            background-color: rgb(26, 171, 187);
            font-family: "Poppins", serif;
            color: white;
            border-color: white;
            font-weight: 600;
            box-shadow: 2px 3px 4px grey;
        }
        .text button:hover{
            color: rgb(232, 221, 221);
            cursor: pointer;
        }
        .text button:active{
            color:rgb(26, 171, 187) ;
            background-color: white;
        }
        nav ul li {
            display: flex;
            align-items: center;
        }
        nav ul li img{
            width: 20px;
            height: 20px;
        }
    
        
        .main1 {
            /* border: 2px solid black; */
            /* height: 100vh; */
            /* width: 65vw; */
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
        }
        .main2{
            /* border: 2px solid aqua; */
        }

        .heading {
            margin-top: 10vh;
            margin-bottom: 2vh;
            width: 65vw;
            height: 10vh;
            /* border: 2px solid red; */
            display: flex;
            /* justify-content: space-evenly; */
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .heading h3{
            font-size: 24px;
            font-weight: 400;
        }
        .heading h3 small{
            font-size: 15px;
        }
        .heading img{
            align-self: center;
        }

        .heading span {
            display: flex;

        }

        .grid {
            /* border: 2px solid blue; */
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(3, 302px);
            grid-template-rows: repeat(4, 175px);
            
            gap: 25px;
            /* align-items: center; */
            justify-content: center;
        }

        .items {
            /* border: 1px solid green; */
            background-color: #f9f9f9;
            max-width: 302px;
            margin-bottom: 0px;
            border-radius: 5px;

        }

        .language h3 {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            align-items: center;
            font-weight: 600;
        }

        .englishname {
            text-align: center;
        }

        .englishname h4 {
            margin: 0;
            padding-bottom: 10px;
            /* line-height: 1.3em; */
        }

        .englishname h4 small {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10px;
            font-weight: lighter;

        }

        .button {
            text-align: center;
        }

        .button button {
            background-color: #5cb85c;
            border-color: #5cb85c;
            border-radius: 6px;
            font-size: 12px;
            padding: 8px 16px;
            border: none;
        }

        .button a {
            color: white;
            font-weight: 600;
            text-decoration: none;
        }
        .smalltext{
            width: 240px;
            height: 32px;
            margin: auto;
            word-wrap: break-word;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .smalltext p {
            /* font-size: 8px; */
            text-align: center;
            
        }
        .p1{
            font-size: 12px;
            margin-bottom: 0px;
        }
        .p2{
            font-size: 8px;
            margin-top: 0px;
        }
        @media only screen and (max-width: 1055px) {
            .grid {
                grid-template-columns: 1fr 1fr;
                /* background-color: red; */
                justify-content: center;
                align-items: center;
            }
            .items{
                justify-self: center;
                align-self: center;
            }
        }
        
        @media only screen and (max-width: 588px) {
            .grid {
                grid-template-columns: 1fr;
                justify-content: center;
                align-items: center;
        
            }
            .items{
                justify-self: center;
                align-self: center;
            }
        }
    </style>